@import './global';
@import './varibles';
@import './header';
@import './hero';
@import './footer';

@media (max-width:390px) {
    .header__logo {
        margin-top: -80px;
    }

    .header__logoo {
        margin-left: -130px;
        width: 150px;
        height: auto;

    }

    .header__a {
        display: none;
    }

    .hero__h1 {
        font-size: 48px;
        text-align: center;
        margin-left: -50px;
        margin-top: -70px;
    }

    .hero img {
        display: none;
    }

    .hero__section {
        display: block;
    }

    .hero__p {
        margin-left: -1px;
        text-align: center;
        margin-top: 35px;
    }

    .hero__img {
        margin-left: 10px;
        padding-bottom: 33px;
    }

    select {
        display: block;
        margin-left: -585px;
        margin-top: -90px;
        text-align: center;
        border: 2px solid #fff;
        padding: 4px 6px;
        border-radius: 5px;
        background-color: #014E56;
        color: #fff;
        font-family: sans-serif;
    }

    br {
        display: none;
    }
}